@model MusicShareWeb.Models.Market.SelectingModel
@{
    Layout = "../Shared/Layout.cshtml";
}
<div>
    <div style="margin-bottom: 38px; border-bottom: 2px solid pink;">
        Выбираем @Model.SelectedProductType.Name<br>
        Выбрать другую?<br>
        @foreach (var productType in Model.AllProductTypes.Where(apt => apt.Id != Model.SelectedProductType.Id)) {
            <a href="@Url.Action("Selecting", new {categoryId = productType.Id})">@productType.Name</a>
        }
    </div>
    @foreach (var productProperty in Model.Properties) {
        @productProperty.Key.Name<br>
        <div style="margin-bottom: 38px; border-bottom: 2px solid green;">
            <select>
                @foreach (var productPropertyValue in productProperty.Value) {
                    <option>@productPropertyValue.Name</option>
                }
            </select>
        </div>
    }
</div>