@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization
@model MusicShareWeb.Models.DesignerModel

@{
    Layout = "../Shared/Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        musGround = musGround || {};
        musGround.const.bodyParameterId = 1;
        musGround.const.formSubparameterId = 2;
        musGround.const.colorSubparameterId = 3;
        musGround.const.whiteColorSubparameterValueId = 4;
        ko.applyBindings(getDesigner(@Html.Raw(JsonConvert.SerializeObject(Model, Formatting.Indented, new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() })), document.getElementById("Designer")));
       
    });
</script>

<div id="Designer" class="designer">
    @Html.Partial("Navigation/ChooseInstrument")
    @Html.Partial("Navigation/SubparameterNavigation")

    @Html.Partial("Form/Overview")
    @Html.Partial("Form/SubparameterValues")
</div>