@using Newtonsoft.Json;
@model MusicShareWeb.Models.DesignerModel

@{
    Layout = "../Shared/Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        ko.applyBindings(getDesigner(   @Html.Raw(JsonConvert.SerializeObject(Model.FormParameter.Name)),
                                        @Html.Raw(JsonConvert.SerializeObject(Model.FormParameter.Forms)),
                                        @Html.Raw(JsonConvert.SerializeObject(Model.FormParameter.Colors)),
                                        @Html.Raw(JsonConvert.SerializeObject(Model.FormParameter.FormsWithColor))), document.getElementById("Designer"));
    });
</script>

<div id="Designer" class="designer">
@*    @Html.Partial("Navigation/ChooseInstrument")*@
    @Html.Partial("Navigation/SubparameterNavigation")
    <div class="designer__form">
        <div class="designer-form__param-value">
            <img class="designer-form__param-img" src="/Content/Image/form.png"/>
            <div class="designer-form__param-name">Les Paul</div>
        </div>
        <div class="designer-form__param-value">
            <img class="designer-form__param-img" src="/Content/Image/form.png"/>
            <div class="designer-form__param-name">Les Paul</div>
        </div>
        <div class="designer-form__param-value">
            <img class="designer-form__param-img" src="/Content/Image/form.png"/>
            <div class="designer-form__param-name">Les Paul</div>
        </div>
        <div class="designer-form__param-value">
            <img class="designer-form__param-img" src="/Content/Image/form.png"/>
            <div class="designer-form__param-name">Les Paul</div>
        </div>
        <div class="designer-form__param-value">
            <img class="designer-form__param-img" src="/Content/Image/form.png"/>
            <div class="designer-form__param-name">Les Paul</div>
        </div>
    </div>
</div>