@using System.Globalization
@using MusicShareWeb.Models
@model GuitarTotalDataModel

@{
    Layout = "../Shared/Layout.cshtml";
}
@foreach (var guitarModel in Model.GuitarsWithModel) {
    using (Html.BeginForm("UpdateGuitarModel", "DerzkieSchi", FormMethod.Post, new {id = "form" + guitarModel.Id, onsubmit = "return UpdateGuitarModel('form" + guitarModel.Id + "');"})) {
        var guitar = Model.Guitars.First(g => g.Id == guitarModel.GuitarId);
        <input type="hidden" name="guitarModel.Id" value="@guitarModel.Id" />
        <div style="background-color: white;">
            <span style="width: 400px;">@Model.Brands.First(b => b.Id == guitar.BrandId).Name _ @Model.Forms.First(f => f.Id == guitar.FormId).Name</span>
            @Html.TextBoxFor(m => guitarModel.Model)
            <input type="submit" value="Сохранить" />
        </div>
    }
}

<br /><hr /><br />

@using (Html.BeginForm("SaveNewGuitarModel", "DerzkieSchi", FormMethod.Post, new {id = "formNew", onsubmit = "return UpdateGuitarModel('formNew');"})) {
    <div style="background-color: white;">
        @Html.Partial("DropDown", new DropDownModel {
            Name = "guitarModel.GuitarId",
            KeyValues = Model.Guitars.Select(g => g.Id.ToString(CultureInfo.InvariantCulture))
                .Zip(Model.Guitars.Select(g => Model.Brands.First(b => b.Id == g.BrandId).Name + " _ " +  Model.Forms.First(b => b.Id == g.FormId).Name), (guitarId, BrandAndModel) => new {key = guitarId, value = BrandAndModel})
                .ToDictionary(x => x.key, x => x.value)
        })
        @Html.TextBox("guitarModel.Model")
        <input type="submit" value="Добавить" />
    </div>
}

<script type="text/javascript">
    UpdateGuitarModel = function (formId) {
        $('#' + formId).ajaxSubmit({
            success: function (data) {
                if (data == true) {
                    alert('success');
                } else {
                    alert('ты лещ и сохраняешь корявые данные');
                }
            },
            error: function () {
                alert('error');
            }
        });
        return false;
    };
</script>