@model MusicShareWeb.Models.SearchModel
           
@{
    var searchHint = "{";
    Model.SearchHints.Select(sh => new {
        stepId = sh.SearchStepId,
        text = sh.Text
    }).ToList().ForEach(sh => { searchHint += string.Format("\"{0}\":\"{1}\",", sh.stepId, sh.text); });
    searchHint += "}";
}

<div class="mp__search">
@*    <div class="mp-search__hint-zone">*@
@*        <div class="hint-zone__hint">Подсказка</div>*@
@*    </div>*@
    <div class="mp-search__order hide">
        <div>
            <select class="guitar-param guitar-param__hidden" name="Form" data-step-id="1">
                <option selected="selected">Выбрать форму корпуса</option>
                @foreach (var form in Model.Forms)
                {
                    <option value="@form.Id">@form.Name</option>
                }
            </select>
        </div>
        <div>
            <select class="guitar-param guitar-param__hidden" name="Brand" data-step-id="2">
                <option selected="selected">Выбрать фирму</option>
                @foreach (var brand in Model.Brands)
                {
                    <option value="@brand.Id">@brand.Name</option>
                }
            </select>
        </div>
        <div>
            <select class="guitar-param guitar-param__hidden" name="Color" data-step-id="3">
                <option selected="selected">Выбрать цвет</option>
                @foreach (var color in Model.Colors)
                {
                    <option value="@color.Id">@color.Name</option>
                }
            </select>
        </div>   
    </div>
    <div class="mp-search__params">
        <div class="mp-search__params__param" data-action-id="1" data-step-id="1">Форма</div>
        <div class="mp-search__params__param" data-step-id="2">Фирма</div>
        <div class="mp-search__params__param" data-step-id="3">Цвет</div>
    </div>
    <img class="mp-search__sample-result" src="../../Content/Image/index.jpg" alt=""/>
    <div class="search__list-sample">
        <img class="list-sample__sample" src="../../Content/Image/index.jpg" alt="" data-sample-num="1"/>
        <img class="list-sample__sample" src="../../Content/Image/index.jpg" alt="" data-sample-num="2"/>
        <img class="list-sample__sample" src="../../Content/Image/index.jpg" alt="" data-sample-num="3"/>
        <img class="list-sample__sample" src="../../Content/Image/index.jpg" alt="" data-sample-num="5"/>
    </div>
    @Html.Partial("Offers")
</div>

<script type="text/javascript">
    Search = function () {
        this.hints = @Html.Raw(searchHint);
        var that = this;

        $('.guitar-param').on('change', function() {
            $.ajax({
                url: '@Url.Action("GetSampleGuitars", "Search")',
                type: 'GET',
                data: {
                    brand: $('[name="Brand"]').val(),
                    form: $('[name="Form"]').val(),
                    color: $('[name="Color"]').val(),
                },
                success: function(data) {
                    var bigImg = $('.mp-search__sample-result');
                    var littleImgs = $('.list-sample__sample');
                    bigImg.attr('src', data[0].Image);
                    $('.search__list-sample').removeClass('hide');
                    $('.mp-search__order').addClass('hide');
                    for (var i = 0; i < data.length && i < littleImgs.length; i++) {
                        $(littleImgs[i]).attr('src', data[i].Image);
                    }
                    for (var i = data.length; i < littleImgs.length; i++) {
                        $(littleImgs[i]).attr('src', '../../Content/Image/index.jpg');
                    }
                }
            });
        });

        $('.list-sample__sample').on('click', function() {
            $('.mp-search__sample-result').attr('src', $(this).attr('src'));
        });

//        $('.guitar-param').on('click', function() {
//            var jThis = $(this);
//            var hint = $('.hint-zone__hint');
//            hint.text(that.hints[jThis.data('step-id')]);
//            hint.offset({
//                top: jThis.offset().top,
//            });
//        });

        $('.mp-search__params__param').on('click', function() {
            var jThis = $(this);
            $('.mp-search__params__param').removeClass('mp-search__params__param__active');
            jThis.addClass('mp-search__params__param__active');
            $('.mp-search__order').removeClass('hide');
            $('.search__list-sample').addClass('hide');
            $('.guitar-param').addClass('guitar-param__hidden');
            $('.guitar-param[data-step-id="' + jThis.data('step-id') + '"]')
                .removeClass('guitar-param__hidden');
        });
    };

    var search = new Search();
</script>