@model MusicShareWeb.Models.SearchModel
           
@{
    var searchHint = "{";
    Model.SearchHints.Select(sh => new {
        stepId = sh.SearchStepId,
        text = sh.Text
    }).ToList().ForEach(sh => {
        searchHint += string.Format("\"{0}\":\"{1}\",", sh.stepId, sh.text);
    });
    searchHint += "}";
}

<div class="mp__search">
    <div class="mp-search__hint-zone">
        <div class="hint-zone__hint">Подсказка</div>
    </div>
    <div class="mp-search__order">
        <div>
            <select class="guitar-param" name="Form" data-step-id="1">
                <option selected="selected">Выбрать форму корпуса</option>
                @foreach (var form in Model.Forms) {
                    <option value="@form.Id">@form.Name</option>
                }
            </select>
        </div>
        <div>
            <select class="guitar-param" name="Brand" data-step-id="2">
                <option selected="selected">Выбрать фирму</option>
                @foreach (var brand in Model.Brands) {
                    <option value="@brand.Id">@brand.Name</option>
                }
            </select>
        </div>
        <div>
            <select class="guitar-param" name="Color" data-step-id="3">
                <option selected="selected">Выбрать цвет</option>
                @foreach (var color in Model.Colors) {
                    <option value="@color.Id">@color.Name</option>
                }
            </select>
        </div>   
    </div>
    <div class="mp-search__sample-result">
        <img class="smpl" src="../../Content/Image/index.jpg" alt="" style="height: 145px; width: inherit;"/>
    </div>
</div>

<script type="text/javascript">
    Search = function () {
        this.hints = @Html.Raw(searchHint);
        var that = this;

        $('.guitar-param').on('change', function() {
            $.ajax({
                url: '@Url.Action("GetSampleGuitar", "Search")',
                type: 'GET',
                data: {
                    brand: $('[name="Brand"]').val(),
                    form: $('[name="Form"]').val(),
                    color: $('[name="Color"]').val(),
                },
                success: function(data) {
                    $('.smpl').attr('src', data.Value);
                }
            });
        });

        $('.guitar-param').on('click', function() {
            var jThis = $(this);
            var hint = $('.hint-zone__hint');
            hint.text(that.hints[jThis.data('step-id')]);
//            hint.css('top', jThis.css('top'));
            hint.offset({
                top: jThis.offset().top,
            });
        });
    };

    var search = new Search();
</script>