@model MusicShareWeb.Models.GuitarTotalDataModel
           
@{
    var searchHint = "{";
    Model.SearchHints.Select(sh => new {
        stepId = sh.SearchStepId,
        text = sh.Text
    }).ToList().ForEach(sh => { searchHint += string.Format("\"{0}\":\"{1}\",", sh.stepId, sh.text); });
    searchHint += "}";
}

<div class="mp__search">
    <div class="mp-search__params">
        <div class="mp-search__params__param" data-action-id="1">Фирма</div>
        <div class="mp-search__params__param" data-action-id="2">Форма</div>
        <div class="mp-search__params__param" data-action-id="3">Цвет</div>
    </div>
    <img class="mp-search__sample-result" src="../../Content/Image/index.jpg" alt=""/>
    <div class="mp-search__sample-result mp-search__brand hide" data-action-id="1">
        <div class="mp-search__form-sample" data-param-id="">любой</div>
        @foreach (var brand in Model.Brands) {
            <div class="mp-search__form-sample" data-param-id="@brand.Id">@brand.Name</div>
        }
    </div>
    <div class="mp-search__sample-result mp-search__brand mp-search__form hide" data-action-id="2">
        <div class="mp-search__form-sample" data-param-id="">любой</div>
        @foreach (var form in Model.Forms) {
            <div class="mp-search__form-sample" data-param-id="@form.Id">@form.Name</div>
        }
    </div>
    <div class="mp-search__sample-result mp-search__brand mp-search__color hide" data-action-id="3">
        <div class="mp-search__form-sample" data-param-id="">любой</div>
        @foreach (var color in Model.SimpleColors) {
            <div class="mp-search__form-sample" data-param-id="@color.Id">@color.Name</div>
        }
    </div>
    <div class="search__list-sample">
        <img class="list-sample__sample" src="../../Content/Image/index.jpg" alt="" data-sample-num="1"/>
        <img class="list-sample__sample" src="../../Content/Image/index.jpg" alt="" data-sample-num="2"/>
        <img class="list-sample__sample" src="../../Content/Image/index.jpg" alt="" data-sample-num="3"/>
        <img class="list-sample__sample" src="../../Content/Image/index.jpg" alt="" data-sample-num="5"/>
    </div>
    @Html.Partial("Offers")
</div>

<script type="text/javascript">
    Search = function () {
//        this.hints = @Html.Raw(searchHint);
        this.brand = null;
        this.form = null;
        this.colorSimple = null;
        var that = this;

        $('.mp-search__form-sample').on('click', function () {
            that.SelectParamEvent(this);
        });

        this.SelectParamEvent = function(argThis) {
            var jThis = $(argThis);
            switch (jThis.parent().data('action-id')) {
                case 1:
                    that.brand = parseInt(jThis.data('param-id'), 10);
                    break;
                case 2:
                    that.form = parseInt(jThis.data('param-id'), 10);
                    break;
                case 3:
                    that.colorSimple = parseInt(jThis.data('param-id'), 10);
                    break;
                default:
            }
            $.ajax({
                url: '@Url.Action("GetSampleGuitars", "Search")',
                type: 'GET',
                data: {
                    brandId: that.brand,
                    formId: that.form,
                    simpleColorIdColor: that.colorSimple,
                },
                success: function (data) {
                    var bigImg = $('.mp-search__sample-result');
                    var littleImgs = $('.list-sample__sample');
                    if (data.length > 0) {
                        bigImg.attr('src', data[0].PhotoUrl);
                        for (var i = 0; i < data.length && i < littleImgs.length; i++) {
                            $(littleImgs[i]).attr('src', data[i].PhotoUrl);
                        }
                    } else {
                        bigImg.attr('src', '../../Content/Image/index.jpg');
                    }
                    for (var i = data.length; i < littleImgs.length; i++) {
                        $(littleImgs[i]).attr('src', '../../Content/Image/index.jpg');
                    }
                }
            });
            jThis.parent().addClass('hide');
        };

        that.SelectParamEvent(this);

        $('.list-sample__sample').on('click', function() {
            $('.mp-search__sample-result').attr('src', $(this).attr('src'));
        });

        $('.mp-search__params__param').on('click', function() {
            var jThis = $(this);
            $('.mp-search__sample-result[data-action-id]').addClass('hide');
            $('.mp-search__sample-result[data-action-id="' + jThis.data('action-id') + '"]').removeClass('hide');
        });

//        $('.mp-search__params__param').on('click', function() {
//            var jThis = $(this);
//            $('.mp-search__params__param').removeClass('mp-search__params__param__active');
//            jThis.addClass('mp-search__params__param__active');
//            $('.mp-search__order').removeClass('hide');
//            $('.search__list-sample').addClass('hide');
//            $('.guitar-param').addClass('guitar-param__hidden');
//            $('.guitar-param[data-step-id="' + jThis.data('step-id') + '"]')
//                .removeClass('guitar-param__hidden');
//        });
    };

    var search = new Search();
</script>