@model MusicShareWeb.Models.Lesson.LessonListModel

@{
    Layout = "../Shared/Layout.cshtml";
}

<div style="width: 400px; margin: 0 auto;">
    @foreach(var technique in @Model.Lessons) {
        <div style="margin-bottom: 15px;">
            <div>@technique.Key.Name</div>
            <div style="margin-left: 38px;">
                @foreach(var lesson in technique.Value) {
                    <a href="@Url.Action("Index", new {id = @lesson.Id})">@lesson.Title</a>
                }
            </div>
        </div>
    }
</div>
