@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru">
<head>
    @Html.Partial("ContentHelper")
    @Html.Partial("FeatureIdHelper")
    <title>@(!String.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title : "MusGround")</title>
    <meta name="keywords" content="@(!String.IsNullOrEmpty(ViewBag.Keywords) ? ViewBag.Keywords : String.Empty)">
    <meta name="description" content="@(!String.IsNullOrEmpty(ViewBag.Description) ? ViewBag.Description : String.Empty)">
    <link href="/Content/Image/favicon.jpg" rel="shortcut icon" type="image/jpg"/>
    <script>
        var musGround = {};
        $(document).ready(function() {
            musGround = getMusGround({
                logUrl: '@Url.Action("LogAction", "Log")'
            });
        });
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter32404735 = new Ya.Metrika({
                        id: 32404735,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function() { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/32404735" style="position: absolute; left: -9999px;" alt=""/>
        </div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    @Html.Partial("SignInUp")
    @RenderBody()
</body>
</html>