@model MusicShareWeb.Models.BaseModel
@{
    Layout = null;
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@functions {
    private string CssIfActive(string curName, string name) {
        return String.Equals(curName, name, StringComparison.CurrentCultureIgnoreCase) ? "header-navigation__btn--active" : string.Empty;
    }
}
<header id="header">
    <div class="header">
        <div class="header__logo">
            <img class="header__logo-img" src="/Content/Image/logo.png" alt="" />
        </div>
        <div class="header-navigation">
            <a class="header-navigation__btn @CssIfActive(controllerName, "Market")" href="@Url.Action("Index", "Market")">Магазин</a><!--
            --><a class="header-navigation__btn @CssIfActive(controllerName, "Article")" href="@Url.Action("New", "Article")">Статьи</a><!--
            --><a class="header-navigation__btn @CssIfActive(controllerName, "Designer")" href="@Url.Action("Index", "Designer")">Конструктор</a><!--
            --><a class="header-navigation__btn @CssIfActive(controllerName, "Ask")" href="@Url.Action("New", "Ask")">Задать вопрос</a><!--
            --><a class="header-navigation__btn @CssIfActive(controllerName, "Lesson")" href="@Url.Action("Index", "Lesson")">Уроки для Костяна</a>
        </div>
        <div class="header__contacts">
            @if (Model.CurrentUser != null && Model.CurrentUser.IsAuthorized) {
                <a class="header__login" href="@Url.Action("SignOut", "Auth")">@(Model.CurrentUser != null ? Model.CurrentUser.NickName : "")</a>
            } else {
                <div class="header__login" data-target="#SignInUpModal" data-toggle="modal">Войти на сайт</div>
            }
            <ul class="header__social">
                <li class="header__social-item"><a href="https://vk.com/musground">В</a></li>
                <li class="header__social-item">f</li>
                <li class="header__social-item">t</li>
            </ul>
        </div>
    </div>
</header>