@{
    Layout = null;
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@functions {
    private string CssIfActive(string curName, string name) {
        return curName == name ? "header-navigation__btn--active" : string.Empty;
    }
}
<header id="header">
    <div class="header">
        <div class="header__top">
            <img class="header-logo__img" src="~/Content/Image/logo.png" />
            <div class="header__img"></div>
        </div>
        <div class="header-navigation">
            <a class="header-navigation__btn @CssIfActive(controllerName, "Search")" href="#">Старый подбор</a><!--
            --><a class="header-navigation__btn @CssIfActive(controllerName, "Article")" href="@Url.Action("Index", "Article")">Статьи</a><!--
            --><a class="header-navigation__btn @CssIfActive(controllerName, "Designer")" href="@Url.Action("Index", "Designer")">Конструктор</a><!--
            --><a class="header-navigation__btn @CssIfActive(controllerName, "Store")" href="@Url.Action("Index", "Ask")">Задать вопрос</a>
        </div>
    </div>
</header>