@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        @Html.Partial("ContentHelper")
        <title>MS</title>
        <script>
            var musicShare;
            $(document).ready(function() {
                musicShare = new MusicShare({
                    logUrl: '@Url.Action("LogAction", "Log")'
                });
            });
            
        </script>
    </head>
    <body>
        <div class="all-space">
            @Html.Partial("Header")
            <div class="usefull-space">
                <div class="content">
                    @RenderBody()
                </div>
            </div>
            @Html.Partial("Footer")
        </div>
    </body>
</html>