@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        @Html.Partial("ContentHelper")
        <title>MS</title>
    </head>
    <body>
        <div class="all-space">
            @Html.Partial("Header")
            <div class="usefull-space">
                @Html.Partial("NavigationBlock")
                <div class="content">
                    @RenderBody()
                </div>
            </div>
            @Html.Partial("Footer")
        </div>
    </body>
</html>